* {
  margin: 0;
  padding: 0;
  font-family: "Forum", cursive;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #333;
}

.container-fluid {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

/* TOP */
#top {
  background-color: #c2a39a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.background-image {
  max-width: 100%;
}

img.myImage {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 150px;
  max-height: 450px;
  border-radius: 25px;
  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.5);
}
.info {
  margin: 150px 0 0 100px;
}
.info h1 {
  font-size: 4.5rem;
}

.home-logo {
  height: 90px;
  background-color: #77b1b6;
}

.home-logo-img {
  height: 90px;
  margin-left: 780px;
}

/* ABOUT ME SECTION */
#about {
  background-color: #abced2;
}
.aboutMe,
.port,
.contactMe {
  font-size: 4.5rem;
  text-align: center;
}
.about-container {
  padding: 25px;
}

.resume {
  text-align: center;
  margin-bottom: 15px;
}
.about-logo-img {
  height: 90px;
  margin: 0 35%;
}
.about-logo {
  text-align: center;
  height: 90px;
}
.about-img {
  height: 90px;
  width: 350px;
  margin-left: 35px;
}

.skillset {
  text-align: center;
}
ul li {
  list-style: none;
}

img.social {
  padding: 15px;
  height: 75px;
}

.linkedin {
  margin-right: 100px;
  float: right;
}
.git {
  float: left;
  margin-left: 100px;
}

/*  PORTFOLIO SECTION */
#portfolio {
  background-color: #efd1cc;
  padding-bottom: 100px;
}
#portfolio h1 {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  grid-auto-rows: minmax(auto, 150px);
  grid-gap: 20px;
  padding: 50px;
}
.wrapper .grid-item {
  transition: 0.8s;
}
.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.wrapper .grid-item:hover {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.7);
  transition: 0.8s;
}

/*  CONTACT SECTION */
.contactMe {
  text-align: center;
}
#contact {
  background-color: #f0b5ad;
  overflow: hidden;
}
.contact-logo img {
  height: 90px;
  margin-left: 125px;
}
#contact .contact-logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #77b1b6;
  justify-items: center;
  width: 100vw;
  margin-top: 35px;
}
.contact-container {
  box-sizing: border-box;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.company-info {
  background: #86c0c7;
}
.company-info h3 {
  text-align: center;
}
.company-info ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
.brand {
  text-align: center;
}
.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(26, 47, 65, 0.7);
}
.contact-wrapper > * {
  padding: 1em;
}
.contact {
  background: #f9feff;
}
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.contact form label {
  display: block;
}
.contact form p {
  margin: 0;
}
.contact form .full {
  grid-column: 1 / 3;
}
.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #86c0c7;
}
.contact form button {
  background: #86c0c7;
  border: 0;
  text-transform: uppercase;
}
.contact form button:hover,
.contact form button:focus {
  background: #92bde7;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}
.alert {
  text-align: center;
  padding: 10px;
  background: #79c879;
  color: #fff;
  margin-bottom: 10px;
  display: none;
}

/* MEDIA QUERIES    */
@media only screen and (max-width: 768px) {
  img.myImage {
    margin: 65px 0 0 0;
    padding: 0 0 0 0;
  }
  .info {
    margin: 0px;
  }
  .info h1 {
    margin-top: 15px;
    font-size: 3rem;
  }

  .info p {
    text-align: center;
  }
  .home-logo-img {
    max-width: 100%;
    margin-left: 0px;
  }

  .about-img {
    display: none;
  }
}

section#about {
  background-color: #abced2;
}
section#portfolio {
  background-color: #f0d1cc;
}
section#contact {
  background-color: #f0b5ad;
}

@media only screen and (min-width: 768px) {
  #top {
    padding-bottom: 30px;
  }
  .info {
    margin: 0px;
  }
  .info h1 {
    margin-top: 5em;
    font-size: 3rem;
  }

  .info p {
    text-align: center;
  }
  .home-logo-img {
    max-width: 100%;
    margin-left: 190px;
  }

  .about-img {
    display: none;
  }
  .contact-logo img {
    margin-left: 190px;
  }
  .knowMe {
    text-align: center;
    
  }
}

section#about {
  background-color: #abced2;
}
section#portfolio {
  background-color: #f0d1cc;
}
section#contact {
  background-color: #f0b5ad;
}
